# Ignore all un-needed .meta files.
# Dont remove ALL meta files: some are important (e.g., meta files for assets).
/*.meta
/Out/*.meta
/Textures/Img.meta

# In each directory inside of the Out directory, ignore all files that do not end with .dfmod
/Out/*/*
!/Out/*/*.dfmod
